.app {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
  padding: 20px;
}

.card-area {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  justify-content: space-between;
  gap: 20px;
}

.app-title {
  font-size: 40px;
}

.score-display,
.high-score-display {
  font-size: 20px;
}

@media (max-width: 1050px) {
  .card-area {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (max-width: 500px) {
  .app {
    gap: 10px;
    margin-top: 0px;
    padding: 10px;
  }

  .card-area {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
  }

  .score {
    display: flex;
    gap: 10px;
    justify-content: space-around;
  }
}
